@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  position: relative;
  background: linear-gradient(45deg, #08041d, #200852);
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  color: #fff;
}

h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: disc;
  font-size: 12px;
}

.board {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  border: 3px solid #3db1ff;
  box-shadow: 0 0 100px 1px #3db1ff;
}

.board .cell {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 3px solid #3db1ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cell:hover {
  background-color: hsl(204, 100%, 62%, 0.2);
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

.reset-button {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin: 0 auto 15 auto;
  /* margin-bottom: 15px; */
  padding: 6px;
  border-radius: 15px;
  border: 3px solid #08041d;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
    border-radius 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
    border 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.reset-button:hover {
  color: #fff;
  background-color: #08041d;
  border-radius: 15px;
  border: 3px solid #fff;
}

.counter-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  border-radius: 15px;
  border: 3px solid #fff;
}

.counter-title {
  font-size: 18px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.counter-text {
  font-size: 12px;
}

.counter {
  color: #3db1ff;
}

.counter-item:not(:last-child) {
  margin-bottom: 10px;
}

.total {
  margin-bottom: 10px;
}
